name: CI/CD
on:
  push:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install node
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Install dependencies
        run: npm install
      - name: Lint
        run: npm run lint
      - name: Build
        env:
          HOME_URL: 'Not set'
          NEXT_PUBLIC_SUPABASE_URL: 'Not set'
          NEXT_PUBLIC_SUPABASE_ANON_KEY: 'Not set'
          NEXT_PUBLIC_SUPABASE_SERVICE_KEY: 'Not set'
        run: npm run build
  deploy-staging:
    needs: build # requires a successfull build
    #if: ${{ github.ref == 'refs/heads/master' }} # trigger only on master
    runs-on: self-hosted
    environment: Staging
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install node
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Install dependencies
        run: npm install
      - name: Run migrations
        env:
          MIGRATIONS_POSTGRES_URL: ${{ env.SUPABASE_DB_URL }}
          MIGRATIONS_POSTGRES_USER: ${{ env.SUPABASE_DB_USER }}
          MIGRATIONS_POSTGRES_PASSWORD: ${{ env.SUPABASE_DB_PASSWORD }}
        run: npm run migrate && npm run migrate # two times, becasue the first time it will only download the files
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y%m%d%H%M')"
      - name: Create tag
        uses: rickstaa/action-create-tag@v1
        with:
          tag: "staging_${{ steps.date.outputs.date }}"
          message: "Ready for staging"
      - name: Publish to staging
        uses: amondnet/vercel-action@v20
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID}}
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID}}
          #vercel-args: '--prod'
      - name: preview-url
        run: echo ${{ steps.vercel-action.outputs.preview-url }}