name: CICD
on:
  push:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install node
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Install dependencies
        run: npm install
      - name: Create .env file
        uses: finnp/create-file-action@master
          env:
            FILE_NAME: "apps/app/.env"
            FILE_DATA: "HOME_URL:\nNEXT_PUBLIC_SUPABASE_URL:\nNEXT_PUBLIC_SUPABASE_ANON_KEY:\nNEXT_PUBLIC_SUPABASE_SERVICE_KEY:\n"
      - name: Build
        run: npm run build
  deploy-staging:
    needs: build # requires a successfull build
    if: ${{ github.ref == 'refs/heads/master' }} # trigger only on master
    runs-on: self-hosted
    environment: Staging
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install node
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y%m%d%H%M')"
      - name: Create tag
        uses: rickstaa/action-create-tag@v1
        with:
          tag: "staging_${{ steps.date.outputs.date }}"
          message: "Ready for staging"
      - name: Publish to staging
        uses: amondnet/vercel-action@v20
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          github-token: ${{ secrets.REPO_TOKEN }}
          vercel-org-id: ${{ secrets.ORG_ID}}
          vercel-project-id: ${{ secrets.PROJECT_ID}}
          #vercel-args: '--prod'
      - name: preview-url
        run: |
          echo ${{ steps.vercel-action.outputs.preview-url }}