name: deploy-staging
on:
  # Push to master
  push:
  #  branches:
  #    - 'master'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/build.yml
    with:
      artifact-name: staging-latest
    secrets:
      URL: ${{ secrets.URL }}
      SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
      SUPABASE_ANON_KEY: ${{ secrets.SUPABASE_ANON_KEY }}
      SUPABASE_SERVICE_KEY: ${{ secrets.SUPABASE_SERVICE_KEY }}
      
  deploy-staging:
    needs: build
    environment: Staging
    runs-on: self-hosted
    steps:
      - name: Download staging artifact
        uses: actions/download-artifact@v2
        with:
          name: staging-latest
      - name: Create depoloy dir
        run: mkdir deploy
      - name: remove this
        run: touch ./deploy/test.txt
      - name: Unzip -qq staging artifact
        uses: montudor/action-zip@v1
        with:
          args: unzip staging-latest.zip -d deploy
      - name: Install node
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Install dependencies
        run: npm install
      - name: Run migrations
        env:
          MIGRATIONS_POSTGRES_URL: ${{ secrets.MIGRATIONS_POSTGRES_URL }}
          MIGRATIONS_POSTGRES_USER: ${{ secrets.MIGRATIONS_POSTGRES_USER }}
          MIGRATIONS_POSTGRES_PASSWORD: ${{ secrets.MIGRATIONS_POSTGRES_PASSWORD }}
        run: npm run migrate && npm run migrate # two times, becasue the first time it will only download the files
      - name: Publish to staging
        uses: amondnet/vercel-action@v20
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID}}
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID}}
          #vercel-args: '--prod'
          #scope: [TeamId]
          alias-domains: |
            ${{ secrets.URL}}
      - name: preview-url
        run: echo ${{ steps.vercel-action.outputs.preview-url }}
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y%m%d%H%M')"
      - name: Create tag
        uses: rickstaa/action-create-tag@v1
        with:
          tag: "staging_${{ steps.date.outputs.date }}"
          message: "Ready for staging"