name: deploy-staging
on:
  # push to master
  push:
  #  branches:
  #    - 'master'

  # manually
  workflow_dispatch:

jobs:
  # migrate-staging:
  #   environment: Staging
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v2
  #     - name: Install node
  #       uses: actions/setup-node@v2
  #       with:
  #         node-version: '16'
  #     - name: Install dependencies
  #       run: npm install
  #     - name: Run migrations
  #       env:
  #         MIGRATIONS_POSTGRES_URL: ${{ secrets.MIGRATIONS_POSTGRES_URL }}
  #         MIGRATIONS_POSTGRES_USER: ${{ secrets.MIGRATIONS_POSTGRES_USER }}
  #         MIGRATIONS_POSTGRES_PASSWORD: ${{ secrets.MIGRATIONS_POSTGRES_PASSWORD }}
  #       run: npm run migrate && npm run migrate # two times, becasue the first time it will only download the files

  deploy-staging:
    #needs: migrate-staging
    environment: Staging
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Deploy
        uses: amondnet/vercel-action@v20
        with:
          vercel-token: ${{ VERCEL_TOKEN }}
          github-token: ${{} secrets.GITHUB_TOKEN }}
          #vercel-args: '--prod' #Optional
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID}}  #Required
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID}} #Required 
          alias-domains: |
            github-actions-test-staging.vercel.app

  tag-staging:
    needs: deploy-staging
    environment: Staging
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y%m%d%H%M')"
      - name: Create tag
        uses: rickstaa/action-create-tag@v1
        with:
          tag: "staging_${{ steps.date.outputs.date }}"
          message: "Ready for staging"