name: CI
on:
  push:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - run: npm install
      - run: npm run build
  tag:
    # only tag master
    if: ${{ github.ref == 'refs/heads/master' }}
    runs-on: self-hosted
    steps:
      - name: Get current timestamp
        id: date
        run: echo "::set-output name=timestamp::$(date +'%Y%m%d%H%m')"
      - name: Create staging tag
        id: tag_staging
        uses: actions/github-script@v6
        with:
          script: |
            github.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: "refs/tags/staging_${{ steps.date.outputs.date }}",
              sha: context.sha
            })